<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Petroleum Company - @ViewData["Title"]</title>
    <link rel="icon" href="~/Admin/images/eco power (1).png" />
    <link rel="stylesheet" href="~/Admin/css/style.css">
</head>
<body>

    <div class="js-animsition animsition" id="site-wrap" data-animsition-in-class="fade-in" data-animsition-out-class="fade-out">
        @Html.Partial("Header")

        @RenderBody()

        @Html.Partial("Footer")
    </div> <!-- .js-animsition -->


    <script src="~/Admin/js/scripts-all.js"></script>
    <script src="~/Admin/js/main.js"></script>

</body>
</html>